<!DOCTYPE html>
<html>
  <head>
      <div class="about-container ">
        <% provide(:title, 'About') %>
        <h1 class="text-center">Our Team</h1>
        <p>
          <img src="https://vignette.wikia.nocookie.net/dont-starve-game/images/0/0e/SCIENCE.gif">
          Ramia Davis: Lead Developer
        </p>
        <p>
          <img src="http://images.onesite.com/capcom-unity.com/user/dubindoh/monster_hunter/mhgen_special_gear/dab11bd9fbbfe859f198d5759469f326.gif">
          Katt Xu: Front End Designer
        </p>
        <p>
          <img src="https://media2.giphy.com/media/3otPoptHYvXtDAqwxO/giphy.gif">
          Brenna Cantwell: Project Manager
        </p>
      </div>
  </head>
</html>