<!DOCTYPE html>
<html>
  <head>
     <%= stylesheet_link_tag 'static_pages' %>
     <%= javascript_include_tag 'static_pages' %>
     <header class="about"> <% provide(:title, 'Contact') %>
        <h1 class="display-1">Contact</h1>
        <p class="lead"> Contact the Girls Talk Games Team at
        <a href="http://www.girlsTalkGames.org/contact">contact page</a>.
        </p>
   </header>
   </head>
   </html>


