<<<<<<< HEAD
   <header class="about">
      <h1 class="display-1">Contact</h1>
      <p class="lead"></p>
   </header>
=======
<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact the Girls Talk Games Team at
  <a href="http://www.girlsTalkGames.org/contact">contact page</a>.
</p>
>>>>>>> a2a6bfc48295a35aba400c73a5504febb8d559fb
