<!DOCTYPE html>
<html>
  <head>
    <div="contact-container">
       <header class="about"> <% provide(:title, 'Contact') %>
          <h1 class="display-1 text-center">Contact</h1>
          <p style="text-align:center;"> <img class="center" src="https://media1.giphy.com/media/HNsiH5m3KxRE4/200.gif"> </p>
          <p class="lead text-center"> Contact the Girls Talk Games Team at
          <a href="http://www.girlsTalkGames.org/contact">contact page</a>.
          </p>
     </header>
    </div>
  </head>
</html>


