<!DOCTYPE html>
<html>
  <head>
     <%= stylesheet_link_tag 'static_pages' %>
     <%= javascript_include_tag 'static_pages' %>
     <header class="about">
      <h1 class="display-1">Help</h1>
      <p class="lead"></p>
         </header>
      </head>
   </html>
