 <!-- Page Content -->
 <div class="bg-info">

    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron">
        <h1 class="display-3">Girls Talk Games</h1>
        <p class="lead">Where girls talk about games.</p>
        <a href="#" class="btn btn-danger btn-lg">Sign Up</a>
      </header>

      <!-- Page Features -->
      <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="https://i.imgur.com/nL2O8bY.png" alt="">
            <div class="card-body">
              <h4 class="card-title">Talk</h4>
              <p class="card-text">Find the latest on what girl gamers are talking about, and have your say in the discussion!</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-danger">Find Out More!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="https://i.ytimg.com/vi/g-jw4G72iYA/maxresdefault.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Review</h4>
              <p class="card-text">Read game reviews from our users, and share your own!</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-danger">Find Out More!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="http://cdn.pastemagazine.com/www/articles/overwatch_pros_list_5.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Events</h4>
              <p class="card-text">See upcoming cons, esport, and cosplay events in your area!</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-danger">Find Out More!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="https://i.ytimg.com/vi/a7L3o5E0bak/maxresdefault.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Stream</h4>
              <p class="card-text">See what girl gamers are streaming, and get others to follow your stream!</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-danger">Find Out More!</a>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
