 <div class="bg-info">

    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron">
        <h1 class="display-3">Girls Talk Games</h1>
        <p class="lead">Welcome!</p>
        <a href="#" class="btn btn-danger btn-lg">My Profile</a>
      </header>
      
   </div>
    <!-- /.container -->