<li>
<<<<<<< HEAD
  <%= image_tag @user.picture.url if @user.picture? %>
  <%= link_to user.username%>
=======
  
  <%= link_to user.username, user%>
>>>>>>> 54e1b1577d9250750eb8784a64b031584a49df5e
</li>