<% provide(:title, 'Edit Profile') %>
<% provide(:button_text, 'Save changes') %>
<% provide(:picture_text, 'Edit Profile Picture') %>

<h1>Edit Profile</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>