<% provide(:title, 'All users') %>
<h1>All users</h1>
<%= will_paginate %>
<ul class="users">
  <%= render @users %>
<<<<<<< HEAD
  <% @users.each do |user| %>
    <li>
      <%= link_to user.username, user %>
    </li>
  <% end %>
=======
>>>>>>> 54e1b1577d9250750eb8784a64b031584a49df5e
</ul>

<%= will_paginate %>
