<!DOCTYPE html>
<html>
  <header class = "text-center">
    <div class="signup-container text-center">
          <% provide(:title, 'Sign up') %>
          <% provide(:button_text, 'Create my account') %>
          <h1>Sign up</h1>
            <div class="text-center">
              <%= render 'form' %>
            </div>
          </div>
    </div>
  </header>
</html>
