    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        
        <% provide(:title, @user.first_name) %>
        <h1>
        <%= image_tag @user.picture.url if @user.picture? %>
        </h1>
        <h1 class="text-uppercase mb-0"><%= @user.username %></h1>
        <hr class="star-light">
        <h2 class="boom">Bio</h2>
        <h3 class="font-weight-light mb-0"><%= @user.bio %></h2>
        
      </div>
    </header>