<h1>
   <img class="img-fluid mb-d-block mx-auto" alt=""> <%= image_tag( current_user.picture) %>
          
</h1>
<h2><%= current_user.username %></h2>
<span><%= link_to "view my profile", current_user %></span>
<span><%= pluralize(current_user.posts.count, "posts") %></span>