<<<<<<< HEAD

<h1></h1>
=======
>>>>>>> 54e1b1577d9250750eb8784a64b031584a49df5e
<h2><%= current_user.username %></h2>
<span><%= link_to "view my profile", current_user %></span>
<span><%= pluralize(current_user.posts.count, "posts") %></span>