<header class = "searched">
    <div class = "container">
        <h1><%= image_tag @game.image %></h1>
        <h2><%= @game.name %></h2>
        <h3><%= @game.description %></h3>
    </div>
</header>