<% provide(:title, 'All users') %>
<h1>Search Results</h1>

<%= render 'search_form' %>
<%=" Found #{@search.games.count} results " %>

<ul class="searches">
  <% @search.games.each do |game| %>
    <li>
      <h3>
      <%= link_to game.name, game %>
      </h3>
    </li>
  <% end %>
</ul>


