@import "bootstrap";

@import "thredded";

.thredded--main-container {
  // The padding and max-width are handled by the app's container.
  max-width: none;
  padding: 0;
  @include thredded-media-tablet-and-up {
    padding: 0;
  }
}

.jumbotron {
  background-image:url('http://img.hebus.com/hebus_2013/04/19/preview/1366394113_24365.jpg');
  height:300px;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom:1px solid #ff6a00;
}
  

.jumbotron p {
    color: white;
}



.jumbotron h1 {
    color: white;
}

a.navi:link, a.navi:active, a.navi:visited, a.navi:hover {
    color: pink;
    text-decoration:none !important;
}

li {
    margin-right: .5em;
    text-decoration:none !important;
    color: silver;
}



@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.card {
  height: 100%;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  :invalid
  .form-control {
    color: text-danger;
  }
}




