 <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container2">
        <b class="m-0 text-white"> Copyright &copy; <a class="text-white" href="http://www.girlsTalkGames.org/contact">Girls Talk Games</a> 2018 </b>
        <p></p>
        <button class="btn btn-outline-primary"> <%= link_to "Contact", main_app.contact_path %> </button>
      </div>
 
      <!-- /.container -->
    
    </footer>