 <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white"> <%= link_to "Contact", main_app.contact_path %> Copyright &copy; Your Website 2018  <%= link_to "Help", main_app.help_path %></p>
      </div>
 
      <!-- /.container -->
    
    </footer>