 <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container2">
        <a class="m-0 text-center text-white"> Copyright &copy; Your Website 2018 <button class="btn btn-outline-primary"> <%= link_to "Contact", main_app.contact_path %> </button>
        </a>
      </div>
 
      <!-- /.container -->
    
    </footer>